<div class="container">

	<div class= "row">
		<div class="col-xs-9  col-md-3">
			
			<%= image_tag("acme-logo.png") %>
	
		</div>

		<div class="col-xs-12 col-md-3">
			<div class="text">
				<ul>
					<li>HOME</li>
				</ul>
			</div>
		</div>

		<div class="col-xs-12 col-md-3">
			<div class="text">
				<ul>
					<li>ABOUT US</li>
				</ul>
			</div>
		</div>

		<div class="col-xs-12 col-md-2 col-md-push-1">
			<div class="text">
				<ul>
					<li>CONTACT</li>
				</ul>
			</div>
		</div>

	</div>
	

	<div class= "row">
		<div class="col-md-12 hidden-xs">
			<%= image_tag("anvil.png") %>
		</div>
	</div>
	

	<div class= "row">
		<div class="col-xs-12 col-md-6">
			<h1>why acme?</h1>
			<br>
			<br>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore.
			</p>
		</div>

		<div class="col-xs-12 col-md-6">
			<h1>anvils are not working</h1>
			<br>
			<br>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore.
			</p>
		</div>

	</div>
</div>
